* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container h2 {
    border-bottom: 2px;
    margin-bottom: 25px;
}

header .container,
footer .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.container-flex {
    display: flex;
}

header, footer {
    background-color: rgb(106, 205, 205);   
    padding-top: 16px;
    color: #fff;
}

form input {
    padding: 5px;
    border: none;
    border-radius: 4px;
    color: #fff;
}

form button {
    padding: 5px;
    border: none;
    border-radius: 4px;
    background-color: rgb(47, 156, 156);
    color: #fff;
}

.menu > li {
    list-style: none;
    float: left;
    margin-right: 10px;
}
nav li a {
    text-decoration: none;
    color: #a2a0a0;
}

#sobre-a-loja img {
    max-width: 550px;
    margin-right: 24px;
}

#sobre-a-loja p {
    font-size: 19px;
}

#sobre-a-loja h2 {
    max-width: 100%;
}

section {
    padding: 48px 0;
}

section h2 {
    text-align: center;
    margin-bottom: 30px;       
}

.artigos {
    max-width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    row-gap: 5%;
}

.artigos article {
    padding: 5px;
}

.artigos img {
    max-width: 320px;
}

.artigos p {
    margin-bottom: 5px;
}

.artigos button {
    padding: 5px;
    background-color: rgb(106, 205, 205);
    border: none;
    border-radius: 4px;
    color: #fff;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

@media screen and (max-width: 640px) {
     .container {
        max-width: 90%;
        flex-direction: column;
    }

    .artigos {
        display: block;
    }

    .artigos .produtos {
        margin-bottom: 32px;
        text-align: center;
    }

}

@media screen and (min-width: 641px) and (max-width: 1023px) {
    .container {
        max-width: 90%;
        flex-direction: column;
    }

    .artigos {
        grid-template-columns: repeat(2, 49%);
    }

    .artigos .produtos {
        margin-bottom: 25px;
        text-align: center;
    }

    #sobre-a-loja img {
       display: block;
       margin-left: auto;
       margin-right: auto;
       max-width: 90%;
    }

}

@media screen and (min-width: 1024px) {

}
