* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

.container h2 {
    border-bottom: 2px solid;
    margin-bottom: 25px;
}

header .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.container-flex {
    display: flex;
}

header {
    background-color: rgb(106, 205, 205);   
    padding-top: 16px;
    color: #fff;
}

.menu > li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: #fff;
}

#sobre-a-loja img {
    max-width: 500px;
    margin-right: 24px;
}

#sobre-a-loja p {
    font-size: 19px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 7px;
    max-width: 95%;
    margin: auto;
}

.noticias {
    max-width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 24%);
    column-gap: 1%;
    row-gap: 5%;
}

.noticias article {
    padding: 5px;
}

.noticias img {
    max-width: 320px;
}

.noticias p {
    margin-bottom: 5px;
}

.noticias button {
    padding: 5px;
}



