* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
}

.container-flex {
    display: flex;
}

header {
    background-color: rgb(106, 205, 205);   
    padding-top: 16px;
    color: #fff;
}

.menu > li {
    list-style: none;
}
nav li a {
    text-decoration: none;
    color: #fff;
}

#sobre-a-loja img {
    max-width: 500px;
    margin-right: 24px;
}

section {
    padding: 48px;
}